# Backend - Deploy
VPS_USER=user
VPS_HOST="localhost"
VPS_SSH_KEY="key"

# Frontend - Web, Frontend - Android
API_URL="http://localhost:8080/path"
CF_ACCESS_CLIENT_ID="id"
CF_ACCESS_CLIENT_SECRET="secret"

# Frontend - Web
DEPLOYMENT_URL="http://localhost:8081"
CLOUDFLARE_API_TOKEN="token"
CLOUDFLARE_ACCOUNT_ID="id"
