# api-production
VPS_USER=user
VPS_HOST="localhost"
VPS_SSH_KEY="key"

# web-production
APP_URL="http://localhost:8081"
CLOUDFLARE_ACCOUNT_ID="id"
CLOUDFLARE_API_TOKEN="token"

# Repository
API_URL="http://localhost:8080/path"
CF_ACCESS_CLIENT_ID="id"
CF_ACCESS_CLIENT_SECRET="secret"
GH_PACKAGES_TOKEN="token"


# android-production
ANDROID_KEY_ALIAS="alias"
ANDROID_KEYSTORE_BASE64="base64_string"
ANDROID_KEYSTORE_PASSWORD="password"
ANDROID_KEY_PASSWORD="password"
