# Node
node_modules/

# Environment
.env

# Test files
**/coverage/

## Build files
**/dist/

# Turborepo & PNPM
.turbo/
pnpm-debug.log*

# Expo
.expo/
android/
expo-env.d.ts

# Generated API client
**/src/services/generated/

